# some defaults resolved by ApimsEnvironmentPostProcessor
apims:
  couchbase:
    encryption:
      enabled: false
      dek-path: ${apims.app.env}/couchbase-dek/${apims.app.domain}
      kek:
        enabled: true
        path: transit/couchbase-kek-${apims.app.domain}
      re-encryption:
        enabled: false
        cron-expression: "0 0 2 * * 0"
        max-execution-minutes: 120
        min-days-since-last-update: 90
    enabled: true
    auto-resolve-enabled-flag: true
    caching:
      enabled: false
      collection: "cache"
      expiry-seconds: 10
      cachePrefix: "${apims.app.name}::${apims.app.build-version}::"
  integration:
    endpoints:
      couchbase-servers: "couchbases://cb-nc01-ew3.nc01.svc.ew3-a.uat.cbms.gcp.internal.skycdp.de"

spring:
  couchbase:
    namespace: "${apims.app.config-profile}"
    namespace-prefix: "${apims.app.config-profile-prefix}"
    hostname: "${apims.integration.endpoints.couchbase-servers}"
    bucket: "${apims.app.env}"
    scopename: "${apims.app.domain}"
    username: ""
    password: ""
    second-bucket: ""
    second-scopename: ""
    second-username: ""
    second-password: ""
    env:
      auditor-aware-enabled: true
      repositories-base-package: "de.sky"
      auto-index-creation: false
      collection-mapping-type-key: ""
      collection-mapping-type-value: ""
      io:
        networkResolution: external
      retry-strategy:
        first-backoff-millis: 1
        max-backoff-millis: 1000
      security:
        auth-method: keystore
        auth-key-store-type: ${COUCHBASE_CLIENT_KEYSTORE_TYPE:JKS}
        auth-key-store-location: ${COUCHBASE_CLIENT_KEYSTORE_PATH:}
        auth-key-store-password: ${COUCHBASE_CLIENT_KEYSTORE_PASSWORD:changeit}
        tls-enabled: true
        tls-hostname-verification-enable: true
        tls-trust-store-type: ${COUCHBASE_CLIENT_TRUSTSTORE_TYPE:JKS}
        tls-trust-store-location: ${COUCHBASE_CLIENT_TRUSTSTORE_PATH:}
        tls-trust-store-password: ${COUCHBASE_CLIENT_TRUSTSTORE_PASSWORD:changeit}
      timeouts:
        analytics: 75000
        connect: 25000
        disconnect: 25000
        eventing: 75000
        key-value: 2500
        key-value-durable: 2500
        management: 75000
        query: 75000
        search: 75000
        view: 75000