apims:
  app:
    incident-mgmt:
      exception-cis:
        - id: "${apims.app.incident-mgmt.default-cis.couchbase}"
          packageInfo: com.couchbase
        - id: "${apims.app.incident-mgmt.default-cis.kafka}"
          packageInfo: org.apache.kafka
      rest-endpoint-cis:
        - id: "${apims.app.incident-mgmt.default-cis.domains.common}"
          url: "${apims.integration.endpoints.salesforce-instance-url}"
        - id: "${apims.app.incident-mgmt.default-cis.domains.common}"
          url: "${apims.integration.endpoints.salesforce-token-url}"
        - id: "${apims.app.incident-mgmt.default-cis.domains.account}"
          url: "${apims.integration.endpoints.customer-data-instance-url}"
        - id: "${apims.app.incident-mgmt.default-cis.salesforce}"
          url: "${apims.integration.endpoints.vlocity-token-url}"
        - id: "${apims.app.incident-mgmt.default-cis.domains.identity}"
          url: "${apims.integration.endpoints.customer-pin-instance-url}"
        - id: "${apims.app.incident-mgmt.default-cis.crm-gateway}"
          url: "${apims.integration.endpoints.crm-gateway-instance-url}"
        - id: "${apims.app.incident-mgmt.default-cis.salesforce-mc}"
          url: "${apims.integration.endpoints.marketing-cloud-instance-url}"
        - id: "${apims.app.incident-mgmt.default-cis.salesforce-mc}"
          url: "${apims.integration.endpoints.marketing-cloud-token-url}"
        - id: "${apims.app.incident-mgmt.default-cis.contentstack}"
          url: "${apims.integration.endpoints.cms-contentstack-instance-url}"
      default-cis:
        crm-gateway: "SRVCI0029626"
        contentstack: "SRVCI0001063"
        couchbase: "SRVCI0013748"
        kafka: "SRVCI0013750"
        salesforce: "SRVCI0013739"
        salesforce-mc: "SRVCI0014022"
        domains:
          account: "SRVCI0029626"
          billing-revenue: "SRVCI0029626"
          caif: "SRVCI0029626"
          campaign: "SRVCI0029626"
          care: "SRVCI0029626"
          common: "SRVCI0029626"
          content: "SRVCI0029626"
          contract: "SRVCI0029626"
          dazn: "SRVCI0018557"
          fraud: "SRVCI0029626"
          identity: "SRVCI0013746"
          interaction-channels: "SRVCI0029626"
          logistics: "SRVCI0029626"
          netflix: "SRVCI0029626"
          order-entry: "SRVCI0029626"
          order-management: "SRVCI0029626"
          payment: "SRVCI0017370"
          product-offer: "SRVCI0029626"
          rewards: "SRVCI0029626"
          risk: "SRVCI0029626"
          sky-go: "SRVCI0029626"
          sky-pil: "SRVCI0029626"
          sky-store: "SRVCI0029626"
          transcomm: "SRVCI0029626"
